@import 'vars';

:root {
    --main-font: 'Jost', sans-serif;
    --headers-font: "DM Serif Display", serif;
    --text-color: #292F36;
    --text-color-light: #4D5053;
    --bg-color:#FFFFFF;
}

*, html, body {
    margin: 0;
    padding: 0;
}

.page {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    max-width: 1200px;
    padding: 0;
    padding-top: 53px;
    padding-bottom: 134px;
}

.centered {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 177px;
    height: 50px;
}

.header__menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 25px;
}

.header__menu-list-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;  
}

.intro {
    margin-top: 57px;
    position: relative;
    background-image: url(./images/intro-img1.png);
    max-width: 1200px;
    height: 758px;
    border-radius: 50px;
}

.intro__background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 51px;
}

.intro__title {
    max-width: 464px;
    font-family: var(--headers-font);
    font-size: 65px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 18px;
}

.intro__subtitle {
    max-width: 464px;
    font-family: var(--main-font);
    color: var(--text-color-light);
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

.intro__button {
    margin-top: 21px;
    display: flex;
    column-gap: 10px;
    width: 220.14px;
    height: 75px;   
    justify-content: center;
    align-items: center;
    padding: 26px 49px 26px 48px;
    border-radius: 5px;
    border-radius: 18px;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    background-color: rgb(41, 47, 54);
}

.intro__button-text {
    min-width: 98px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    text-decoration: none;
    color: var(--bg-color);
}

.description{
    margin-top: 57px;
    display: flex;
    justify-content: center;
}

.description__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    max-width: 737px;
    text-align: center;
}

.description__title {
    font-family: var(--headers-font);
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.description__subtitle {
    font-family: var(--main-font);
    color: var(--text-color-light);
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

.gallery {
    margin-top: 93px;
}

.gallery__cards {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 56px 104px;
}

.gallery__card-button {
    width: 70px;
    height: 70px;
    background-color: #F4F0EC;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.gallery__card:nth-child(4n+1) .gallery__card-img {
    border-top-right-radius: 80px;
}

.gallery__card:nth-child(4n+2) .gallery__card-img {
    border-top-left-radius: 80px;
}

.gallery__card:nth-child(4n+3) .gallery__card-img {
    border-bottom-right-radius: 80px;
}

.gallery__card:nth-child(4n+4) .gallery__card-img {
    border-bottom-left-radius: 80px;
}

.gallery__card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    margin-top: 96px;
    background-color: #F4F0EC;
}

